<div class="driving-time">
  <div class="driving-time__car-visual">
    <%= image_tag("images/dotted-line.svg") %>
    <i class="fas fa-car"></i>
    <%= image_tag("images/dotted-line.svg") %>
  </div>
  <p class="driving-time__time"><%= driving_time %></p>
  <%= link_to(
    "Directions <i class='fas fa-chevron-right'></i>".html_safe,
    "https://middlemanapp.com/basics/templating_language/",
    target: "_blank",
    class: "driving-time__directions-link"
  ) %>
</div>
