<section class="trip-segment trip-segment--night">
  <div class="trip-segment__content">

    <h2 class="trip-segment__overnight-location"><i class="fas fa-moon"></i>Overnight: Sheridan House Inn</h2>

    <p class="trip-segment__address">
      The Sheridan House Inn <br/>
      460 East Sheridan Avenue <br/>
      Williams, Arizona 86046<br/><br/>
      928-635-8991
    </p>
  </div>
</section>
