<!-- <section class="trip-segment__image" id="yellowstone"></section> -->

<section class="trip-segment">
  <div class="trip-segment__content">

    <h1 class="trip-segment__date">Friday, June 15</h1>

    <p class="trip-segment__destination"><i class="fas fa-camera-retro"></i>Explore Yellowstone</p>

    <%= partial "itinerary/shared/driving_time", locals: { driving_time: "???" } %>

    <div class="trip-segment__event">
        <i class="fas fa-calendar"></i>
        <span>6:00 PM</span>
        <p class="trip-segment__event-name">Welcome Dinner</p>
        <p class="trip-segment__event-address">
            National Museum of Wildlife Art<br />
            2820 Rungius Rd <br />
            Jackson, WY 83001
        </p>
    </div>
  </div>
</section>
