<section class="trip-segment trip-segment--night trip-segment--background-opt-2">
  <div class="trip-segment__content util__no-bottom-padding">

    <h2 class="trip-segment__overnight-location"><i class="fas fa-tree"></i>Overnight: Camping at Horseshoe Bend</h2>
    <p class="trip-segment__address">
      <a href="https://www.google.com/maps/place/36%C2%B056'09.9%22N+111%C2%B030'12.4%22W/@36.9360933,-111.5056297,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d36.936089!4d-111.503441">Coordinates of free camp site <i class="fas fa-map-pin"></i></a>
    </p>

  </div>
</section>
