<section class="trip-segment">
  <div class="trip-segment__content">

    <h1 class="trip-segment__date">Monday, June 18</h1>

    <p class="trip-segment__destination"><i class="fas fa-arrow-right"></i>Leave at Wasatch State Park</p>

    <time class="trip-segment__time">Depart 9:00 AM</time>
    <%= partial "itinerary/shared/driving_time", locals: { driving_time: "10h50" } %>
    <time class="trip-segment__time">Arrive 8:00 PM</time>

    <p class="trip-segment__destination"><i class="fas fa-home"></i>Arrive in San Diego</p>

  </div>
</section>
