<section class="trip-segment__image" id="grand-canyon"></section>

<section class="trip-segment">
  <div class="trip-segment__content">

    <h1 class="trip-segment__date">Monday, June 11</h1>

    <p class="trip-segment__destination"><i class="fas fa-camera-retro"></i>Explore Grand Canyon</p>

    <time class="trip-segment__time">Depart 5:00 PM</time>
    <%= partial "itinerary/shared/driving_time", locals: { driving_time: "2h36" } %>
    <time class="trip-segment__time">Arrive 8:00 PM</time>

    <p class="trip-segment__destination"><i class="fas fa-map-pin"></i>Arrive at Horseshoe Bend</p>

  </div>
</section>
