<section class="trip-segment__image" id="yellowstone2"></section>

<section class="trip-segment">
  <div class="trip-segment__content">

    <h1 class="trip-segment__date">Saturday, June 16</h1>

    <p class="trip-segment__destination"><i class="fas fa-camera-retro"></i>Explore Yellowstone</p>

    <%= partial "itinerary/shared/driving_time", locals: { driving_time: "???" } %>

    <div class="trip-segment__event">
        <i class="fas fa-calendar"></i>
        <span>6:00 PM</span>
        <p class="trip-segment__event-name">Wedding &amp; Reception</p>
        <p class="trip-segment__event-address">
            Snake River Ranch<br />
            Snake River Ranch Road<br />
            Wilson, WY 83014
        </p>
    </div>
  </div>
</section>
