<section class="trip-segment">
  <div class="trip-segment__content">

    <h1 class="trip-segment__date">Sunday, June 10</h1>

    <p class="trip-segment__destination"><i class="fas fa-arrow-right"></i>Leave San Diego</p>

    <time class="trip-segment__time">Depart 9:00 AM</time>
    <%= partial "itinerary/shared/driving_time", locals: { driving_time: "3h", directions_link: "https://www.google.com/maps/dir/710+Turquoise+Street,+San+Diego,+CA/Hidden+Valley+Nature+Trail,+Twentynine+Palms,+CA/@33.4632663,-117.5206693,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x80dc0185cdcfee49:0xf5c21f894ad3efa5!2m2!1d-117.2607733!2d32.8086002!1m5!1m1!1s0x80dae9c4343cfcf3:0xfcbfbd65f973ca3f!2m2!1d-116.168094!2d34.01242!3e0" } %>
    <time class="trip-segment__time">Arrive 12:00 PM</time>

    <p class="trip-segment__destination"><i class="fas fa-map-pin"></i>Joshua Tree</p>

    <p class="trip-segment__activity"><i class="fas fa-star"></i>Hidden Valley Nature Trail</p>

    <p class="trip-segment__activity"><i class="fas fa-star"></i>Skull Rock</p>

    <p class="trip-segment__activity"><i class="fas fa-star"></i>Arch Rock</p>

    <p class="trip-segment__activity"><i class="fas fa-star"></i>Cholla Cactus Garden</p>

    <time class="trip-segment__time">Depart 2:00 PM</time>
    <%= partial "itinerary/shared/driving_time", locals: { driving_time: "5h15", directions_link: "https://www.google.com/maps/dir/Cholla+Cactus+Garden,+California/Sheridan+House+Inn,+460+E+Sheridan+Avenue,+Williams,+AZ+86046/@34.4595641,-115.2329817,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x80da91e5fc0bef27:0x1de4cbeac6fb94b3!2m2!1d-115.929411!2d33.9247516!1m5!1m1!1s0x87329ee52ad294a1:0xd0ad5d98d06c9bf4!2m2!1d-112.1816349!2d35.2492216!3e0" } %>
    <time class="trip-segment__time">Arrive 7:30 PM</time>

    <p class="trip-segment__destination"><i class="fas fa-map-pin"></i>Arrive at Grand Canyon</p>
  </div>
</section>
