<section class="trip-segment trip-segment--night">
  <div class="trip-segment__content util__no-bottom-padding">

    <h2 class="trip-segment__overnight-location"><i class="fas fa-tree"></i>Overnight: Camping</h2>

    <p class="trip-segment__address">
      <a href="https://stateparks.utah.gov/parks/wasatch-mountain/park-fees/">Link to camp sites</a>
    </p>

  </div>
</section>
