<section class="trip-segment__image" id="horseshoe-bend"></section>

<section class="trip-segment">
  <div class="trip-segment__content">

    <h1 class="trip-segment__date">Tuesday, June 12</h1>

     <p class="trip-segment__destination"><i class="fas fa-arrow-right"></i>Leave Horseshoe Bend</p>

    <time class="trip-segment__time">Depart 9:00 AM</time>
    <%= partial "itinerary/shared/driving_time", locals: { driving_time: "2h41" } %>
    <time class="trip-segment__time">Arrive 12:00 PM</time>

    <p class="trip-segment__destination"><i class="fas fa-map-pin"></i>Arrive in Zion National Park</p>

    <p class="trip-segment__activity"><i class="fas fa-star"></i>UTVs</p>


  </div>
</section>
