<section class="trip-segment">
  <div class="trip-segment__content">

    <h1 class="trip-segment__date">Tuesday, June 12</h1>

    <p class="trip-segment__destination"><i class="fas fa-arrow-right"></i>Leave Grand Canyon</p>

    <time class="trip-segment__time">Depart 8:00 AM</time>
    <%= partial "itinerary/shared/driving_time", locals: { driving_time: "2h36" } %>
    <time class="trip-segment__time">Arrive 10:45 AM</time>

    <p class="trip-segment__destination"><i class="fas fa-map-pin"></i>Horseshoe Bend</p>

    <time class="trip-segment__time">Depart 12:00 PM</time>
    <%= partial "itinerary/shared/driving_time", locals: { driving_time: "2h41" } %>
    <time class="trip-segment__time">Arrive 2:45 PM</time>

    <p class="trip-segment__destination"><i class="fas fa-map-pin"></i>Arrive at Zion National Park</p>
  </div>
</section>
