<section class="trip-segment__image-container" data-flickity='{ "imagesLoaded": true, "percentPosition": false, "wrapAround": true }'>
    <img src="../images/under-canvas-1.jpg" />
    <img src="../images/under-canvas-2.jpg" />
    <img src="../images/under-canvas-3.jpg" />
    <img src="../images/under-canvas-4.jpg" />
    <img src="../images/under-canvas-5.jpg" />
    <img src="../images/under-canvas-6.jpg" />
</section>

<!-- <section class="trip-segment__image" id="zion"></section> -->

<section class="trip-segment">
  <div class="trip-segment__content">

    <h1 class="trip-segment__date">Wednesday, June 13</h1>

    <p class="trip-segment__destination"><i class="fas fa-camera-retro"></i>Explore Zion National Park</p>

    <p class="trip-segment__activity"><i class="fas fa-star"></i>Observation Point</p>

    <p class="trip-segment__activity"><i class="fas fa-star"></i>The Narrows</p>

  </div>
</section>
