---
title: Roadtrip - June 2018
---

<% content_for :theme, data.jun2018.theme %>

<header>
  <h2>MATT &amp; VENDELA'S</h2>
  <h1>ROADTRIP</h1>
  <h2><%= data.jun2018.roadtrip_title %></h2>
  <date><%= data.jun2018.travel_dates %></date>
</header>

<% data.jun2018.days.each do |day| %>

  <section class="trip-segment">
    <h2 class="trip-segment__date">
      <%= day.date.strftime("%A, %b %d")  %>
    </h2>

    <% day.items.each do |item| %>
      <%= partial(
        "partials/#{item.type}",
        locals: { item: item },
      ) %>
    <% end %>
  </section>

<% end %>

<footer>
  <i class="fas fa-home"></i>
</footer>
