.travel-time {
  align-items: center;
  color: var(--travel-time);
  display: flex;
  justify-content: space-between;
  margin: $base-spacing;
}

.travel-time__car-visual {
  display: flex;
  flex-direction: column;

   > svg {
    margin: $smallest-spacing 0;
    width: $base-font-size;
  }
}

.travel-time__time {
  flex-grow: 1;
  margin-left: $small-spacing;
}

.travel-time__directions-link {
  color: var(--travel-time);

   > svg {
    font-size: $small-font-size;
    margin-left: $small-spacing;
  }
}
