header {
  background-color: var(--header-background);
  padding: $base-spacing;
  text-align: center;

  h1,
  h2 {
    color: var(--primary-text);
    letter-spacing: $wide-letter-spacing;
  }

  h2 {
    font-size: $base-font-size;
    margin-bottom: $smallest-spacing;
  }

  date {
    color: var(--viewport-background);
    font-size: $small-font-size;
  }
}
