header {
  background-color: $yellow;
  padding: $base-spacing;
  text-align: center;

  h1,
  h2 {
    color: $orange;
    letter-spacing: $wide-letter-spacing;
  }

  h2 {
    font-size: $base-font-size;
    margin-bottom: $smallest-spacing;
  }

  date {
    color: $white;
    font-size: $small-font-size;
  }
}
