.stop {
  background: var(--stop-background);
  border-radius: $large-border-radius;
  margin: $base-spacing $large-spacing;;
  padding: $small-spacing $base-spacing;

   > svg {
    color: var(--stop-icon);
    margin-right: $base-spacing;
  }
}
