.stop {
  background: var(--stop-background);
  border-radius: $large-border-radius;
  margin: $base-spacing $large-spacing;;
  padding: $small-spacing $base-spacing;

   > svg {
    color: var(--stop-icon);
    margin-right: $small-spacing;
  }
}

.stop__address {
  color: var(--secondary-text);

  a, + p {
    color: var(--secondary-text);

    &:visited {
      color: var(--secondary-text);
    }
  }
}

.stop__time {
  display: inline;

  + p {
    color: var(--tertiary-text);
    display: inline;
  }
}
