.trip-segment {
  // box-shadow: 0 -5px 12px 0 rgba(0, 0, 0, 0.5);
}

.trip-segment__content {
  margin: 0 auto;
  max-width: 75%;
  padding-bottom: $large-spacing;
}

.trip-segment__image {
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.trip-segment__date {
  color: $orange;
  padding: $larger-spacing 0;
  text-align: center;
}

.trip-segment__destination {
  background-color: $yellow-light;
  border-radius: $large-border-radius;
  margin: $base-spacing 0;
  padding: $small-spacing $base-spacing;

   > svg {
    color: $yellow;
    margin-right: $base-spacing;
  }
}

.trip-segment__time {
  color: $yellow;
  font-size: $smallest-font-size;
  font-weight: bold;
  letter-spacing: $wide-letter-spacing;
  margin-left: $base-spacing;
  text-transform: uppercase;
}

.trip-segment--night {
  background: $teal no-repeat right bottom;
  background-size: contain;
  color: $blue;
  padding: $base-spacing 0;
  position: relative;
}

.trip-segment--background-opt-1 {
  background-image: url('../images/background-1.svg');
}

.trip-segment--background-opt-2 {
  background-image: url('../images/background-2.svg');
  background-size: cover;
}

.trip-segment--background-opt-3 {
  background-image: url('../images/background-3.svg');
}

.trip-segment__overnight-location {
  color: $white;
  font-size: $base-font-size;

   > svg {
    font-size: $small-font-size;
    margin-right: $small-spacing;
  }
}

.trip-segment__address {
  a {
    color: $blue;

    &:visited {
      color: $blue;
    }
  }
}

.trip-segment__activity {
  color: $teal-light;
  margin-bottom: $base-spacing;

   > svg {
    font-size: $small-font-size;
    margin: 0 $small-spacing 0 $base-spacing;
  }
}

.trip-segment__event {
  background-color: $yellow-light;
  border-radius: $large-border-radius;
  margin: $base-spacing 0;
  padding: $small-spacing $base-spacing $base-spacing;

   > svg,
  span {
    color: $yellow;
    margin-right: $small-spacing;
  }
}

.trip-segment__event-name {
  margin-bottom: $small-spacing;
  margin-left: $base-spacing * 1.7;
  margin-top: $small-spacing;
}

.trip-segment__event-address {
  color: $teal-light;
  margin-left: $base-spacing * 1.7;
}

.trip-segment__images-link {
  background: $teal-light;
  border-radius: $large-border-radius;
  bottom: $base-spacing;
  color: $white;
  padding: $small-spacing $base-spacing;
  position: absolute;
  right: $base-spacing;
  pointer: cursor;

  > svg.fa-external-link-alt {
    margin-right: -3px;
  }
}
