@font-face {
  font-family: "CircularStd";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/CircularStd-Book.eot");
  src: local("☺"), url("../../fonts/CircularStd-Book.woff") format("woff"), url("../../fonts/CircularStd-Book.ttf") format("truetype");
}

@font-face {
  font-family: "CircularStd";
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/CircularStd-Bold.eot");
  src: local("☺"), url("../../fonts/CircularStd-Bold.woff") format("woff"), url("../../fonts/CircularStd-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SwedenSans";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/swedensans-webfont.eot");
  src: url("../../fonts/swedensans-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/swedensans-webfont.woff2") format("woff2"),
  url("../../fonts/swedensans-webfont.woff") format("woff"),
  url("../../fonts/swedensans-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "SwedenSans";
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/swedensansbold-webfont.eot");
  src: url("../../fonts/swedensansbold-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/swedensansbold-webfont.woff2") format("woff2"),
  url("../../fonts/swedensansbold-webfont.woff") format("woff"),
  url("../../fonts/swedensansbold-webfont.ttf") format("truetype");
}
