.canyons {
  --viewport-background: #ffffff;
  --header-background: #FFCE78;
  --primary-text: #1A4964;
  --secondary-text: #3399A8;
  --tertiary-text: #FFCE78;
  --header-text: #FF7B50;
  --overnight-background: #1F5F70;
  --stop-background: #FFF7DF;
  --stop-icon: #FFCE78;
  --travel-time: #9CDFE3;
  --activity-text: #3399A8;
}

.texas {
  --viewport-background: #ffffff;
  --header-background: #F0DB9A;
  --primary-text: #493941;
  --secondary-text: #ffffff;
  --tertiary-text: #B6D4E2;
  --header-text: #68BEDF;
  --overnight-background: #F2DBC2;
  --stop-background: linear-gradient(90deg, #E1EDF4, #F7F2EB);
  --stop-icon: #B6D4E2;
  --travel-time: #E1B239;
  --activity-text: #493941;
}
