<section class="trip-segment__image" id="grand-canyon"></section>

<section class="trip-segment">

  <h1 class="trip-segment__date">
    Monday, June 11
  </h1>

  <%= partial(
    "itinerary/shared/stop",
    locals: {
      text: "Explore Grand Canyon",
      event: "explore"
    }
  ) %>

  <time class="trip-segment__time">
    Depart 5:00 PM
  </time>

  <%= partial(
    "itinerary/shared/travel_time",
    locals: {
      travel_time: "2h36",
      directions_link: "https://www.google.com/maps/dir/Sheridan+House+Inn,+460+E+Sheridan+Avenue,+Williams,+AZ+86046/Horseshoe+Bend+Observation+Area,+Page,+Arizona/@35.5815925,-111.6050768,7.76z/data=!4m14!4m13!1m5!1m1!1s0x87329ee52ad294a1:0xd0ad5d98d06c9bf4!2m2!1d-112.1816349!2d35.2492216!1m5!1m1!1s0x87346c8d22566b09:0x45637089634f1702!2m2!1d-111.5103631!2d36.8790614!3e0"
    }
  ) %>

  <time class="trip-segment__time">
    Arrive 8:00 PM
  </time>

  <%= partial(
    "itinerary/shared/stop",
    locals: {
      text: "Arrive at Horseshoe Bend",
      event: "arrival"
    }
  ) %>

</section>
