<section class="trip-segment__image-container" data-flickity='{ "imagesLoaded": true, "percentPosition": false, "wrapAround": true }'>
    <img src="../images/under-canvas-1.jpg" />
    <img src="../images/under-canvas-2.jpg" />
    <img src="../images/under-canvas-3.jpg" />
    <img src="../images/under-canvas-4.jpg" />
    <img src="../images/under-canvas-5.jpg" />
    <img src="../images/under-canvas-6.jpg" />
</section>

<section class="trip-segment">

  <h1 class="trip-segment__date">
    Wednesday, June 13
  </h1>

  <%= partial(
    "itinerary/shared/stop",
    locals: {
      text: "Explore Zion National Park",
      event: "explore"
    }
  ) %>

  <p class="trip-segment__activity">
    <i class="fas fa-star"></i>
    Observation Point
  </p>

  <p class="trip-segment__activity">
    <i class="fas fa-star"></i>
    The Narrows
  </p>

</section>
