<section class="trip-segment trip-segment--night trip-segment--background-opt-3">
  <div class="trip-segment__content">

    <h2 class="trip-segment__overnight-location"><i class="fas fa-moon"></i>Overnight: Under Canvas Zion</h2>

    <p class="trip-segment__address">
      Under Canvas Zion<br/>
      Springdale, Utah 84779
    </p>

    <a class="trip-segment__images-link" href="https://www.undercanvas.com/camps/zion/"><i class="fas fa-images"></i> </a>
  </div>
</section>
