---
title: Roadtrip
---

<header>
  <h1 class="roadtrips__title">Matt &amp; Vendela's Roadtrips</h1>
</header>

<ul class="roadtrips">

  <li>
    <% link_to(
      "/nov-2019",
      class: "roadtrips__link texas"
    ) do %>
      <i class="fas fa-map-signs"></i>
      <p class="roadtrips__name">
        San Diego to Jupiter
        <span class="roadtrips__dates">
          <time>Nov 8, 2019 - Nov 18, 2018</time>
        </span>
      </p>
    <i class="fas fa-chevron-right roadtrips__link-arrow"></i>
    <% end %>
  </li>

  <li>
    <% link_to(
      "/june-2018",
      class: "roadtrips__link canyons"
    ) do %>
      <i class="fas fa-map-signs"></i>
      <p class="roadtrips__name">
        San Diego to Jackson Hole
        <span class="roadtrips__dates">
          <time>June 10, 2018 - June 18, 2018</time>
        </span>
      </p>
      <i class="fas fa-chevron-right roadtrips__link-arrow"></i>
    <% end %>
  </li>

</ul>
